@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root 
{
    --blanco: #E0E0E0;
    --Azul-opacidad: #184463;
    --bg-menu: #C7E1FF;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body
{
    font-family: 'Quicksand', sans-serif;
    color: var(--blanco);
}


.menu-dashboard
{
max-width: 150px;
height: 100vh;
background: var(--bg-menu);
padding: 20px;
transition: max-width 3s ease;
}

.top-menu
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.top-menu.logo
{
    display: flex;
    align-items: center;
}

.top.menu .logo img
{
width: 40px;
transition: width .3s ease;
}

.top-menu .logo span
{
    font-size: 20px;
    margin-left: 20px;
    display: none;
}

.top-menu .toggle
{
    width: 30px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.top-menu .toggle i
{
    font-size: 35px;
}

.menu .enlace
{
    width: 100px;
    padding: 20px 0 20px 17px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer
    
}









/*


.btn-search 
{
    right: 0;
}

.topbar 
{
    height: 4.375rem;
}

.mb-4,
.my-4 {
    margin-bottom: 1.5rem !important;
}

.shadow {
    box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15) !important;
}

.bg-white {
    background-color: #fff !important;
}

.navbar-expand {
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
}



*,
::after,
::before {
    box-sizing: border-box;
}

.nav {
    display: block;
}


.img-profile
{
   width: 10px;
}

*/
